* {
	box-sizing: border-box;
}

html { 
  background: url(img/fullscreenBg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*typography*/
@font-face {
    font-family: 'abolition';
    src: url(abolition.otf);
}

@font-face {
    font-family: 'calibreSemibold';
    src: url(calibre-regular.otf);
}

@font-face {
    font-family: 'calibreRegular';
    src: url(calibre-semibold.otf);
}


h2 {
	font-family: adobe-text-pro, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
}

h3 {
	font-family: calibreSemibold, Helvetica, Arial, Sans-Serif;
	font-size:18px;
	margin:0 0 12px 0;
}

p {
	font-family: calibreRegular,Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	line-height:22px;
	margin:0;
}
/*navigation*/

ul {
	list-style: none;
}

.main-nav{
	font-family:abolition;
	font-size: 40px;
	letter-spacing: 2px;	
	color:#4A4A4A;
}

.contact{
	position:fixed;
	top:60px;
	left:60px;
	/*background-color: #0033ff*/

}

.about{
	position:fixed;
	top:60px;
	right:60px;
	/*background-color: #0033ff*/

}

.instagram{
	position:fixed;
	bottom:60px;
	left:60px;
	/*background-color: #0033ff*/

}

.blog{
	position:fixed;
	bottom:60px;
	right:60px;
	/*background-color: #0033ff*/

}

a{
	text-decoration: none;
	color: #000000;
}

a.logo img{
	display: block;
	margin: 64px auto 0 auto;
	/*position:fixed;*/
}



/*body positioning*/

.innercontent{
	padding: 135px 0;
	/*max-width: 856px;*/
	padding-right:20%;
	padding-left:20%;
	text-align:center;
}

.body1{
	margin-bottom:60px;
	padding-right:20%;
	padding-left:20%;
}

.video-wrap .video iframe{
	width:100%;
	height:calc(100vw / 1.5625);
	min-height:100%;
	min-width:236.77%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
