{% comment %}
  <!--
    TODO: These should pull from each page's Front Matter
    Ref: http://opengraphprotocol.org/
    Facebook Tester: https://developers.facebook.com/tools/debug/
    Google Tester: https://search.google.com/structured-data/testing-tool/u/0/
  -->
{% endcomment %}
{% comment %}
  <!--
    <meta property="og:title" content="The Rock" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
  -->
{% endcomment %}