{% comment %}
  <!--
    TODO: How mobile-friendly do we want to be?
    Ref: https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
  -->
{% endcomment %}
{% comment %}
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="yes" name="apple-touch-fullscreen" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width = 320, initial-scale = 2.3, user-scalable = no">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name= "viewport" content = "width = 320, initial-scale = 2.3, user-scalable = no">
  <meta name= "viewport" content = "width = device-width">
  <meta name = "viewport" content = "initial-scale = 1.0">
  <meta name = "viewport" content = "initial-scale = 2.3, user-scalable = no">
  <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone4.png" />
  <link rel="apple-touch-startup-image" href="/startup.png">
{% endcomment %}