<nav class="main-nav" role="navigation">
  <ul>
    <li class="contact {% if page.url contains 'contact' %}current{% endif %}">
      <a href="/contact">contact</a>
    </li>
    <li class="about {% if page.url contains 'about' %}current{% endif %}">
      <a href="/about">about</a>
    </li>
    <li class="instagram">
      <a href="https://www.instagram.com/pocono_digital/" target="_blank">instagram</a>
    </li>
    <li class="blog">
    <a href="https://www.instagram.com/pocono_digital/" target="_blank">blog</a>
  </ul>
</nav>