<nav class="nav" role="navigation">
  <a class="nav__item nav__item--home" href="/" title="Home">
    <span>Pocono Digital House</span>
  </a>
  <a
    class="nav__item nav__item--contact {% if page.url contains 'contact' %}nav__item--current{% endif %}"
    href="/contact"
  >
    <span>contact</span>
  </a>
  <a
    class="nav__item nav__item--about {% if page.url contains 'about' %}nav__item--current{% endif %}"
    href="/about"
  >
    <span>about</span>
  </a>
  <a
    class="nav__item nav__item--instagram"
    href="https://www.instagram.com/pocono_digital/" target="_blank"
  >
    <span>instagram</span>
  </a>
  <a
    class="nav__item nav__item--blog"
    href="https://www.instagram.com/pocono_digital/" target="_blank"
  >
    <span>blog</span>
  </a>
</nav>