// all variables are defined in /assets/css/style.css

@font-face {
    font-family: "abolition";
    src: url($base-url + "/assets/fonts/abolition.otf");
}

@font-face {
    font-family: "calibre";
    font-weight: normal;
    src: url($base-url + "/assets/fonts/calibre-regular.otf");
}

@font-face {
    font-family: "calibre";
    font-weight: bold;
    src: url($base-url + "/assets/fonts/calibre-semibold.otf");
}

* {
    box-sizing: border-box;
}

article, section, aside, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, a, span {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $color-background-light;
    font-family: $font-calibre, arial, sans;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.3px;
    color: $color-text-dark;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        font-size: 12px;
        opacity: 1;
        transition: opacity 300ms linear 0ms;
    }
    &.js-loaded::after {
        opacity: 0;
    }

    &__sizing {
        position: relative;
        // these get overwritten by JS
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(#000000, 0.9);

    &.is-open {
        display: block;
    }

    // If you touch any of these transition timings, remember to update
    // the JS variables in /assets/js/main.js

    @at-root .animation__show-modal__enter#{&} {
        opacity: 0;
        transition: all 100ms linear 0ms;
    }
    @at-root .animation__show-modal__enter.animation__show-modal__enter-active#{&} {
        opacity: 1;
    }
    @at-root .animation__show-modal__exit#{&} {
        opacity: 1;
        transition: all 100ms linear 0ms;
    }
    @at-root .animation__show-modal__exit.animation__show-modal__exit-active#{&} {
        opacity: 0;
    }

    &__upper-bound {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 85%;
        height: 85%;

        @media ($media-small-vertical) {
            height: 65%;
        }

        @at-root .animation__show-modal__enter & {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.95);
            transition: all 300ms $ease-out-quad 300ms;
        }
        @at-root .animation__show-modal__enter.animation__show-modal__enter-active & {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
    }

    &__video-wrapper,
    iframe {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__close-btn {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(calc(100% + 16px));
        cursor: pointer;
        // -- these remove the <button> styles --
        background-color: transparent;
        color: #ffffff;
        padding: 0;
        border: none;
        margin: 0;
        // ---

        @media ($media-small) {
            transform: translateY(calc(-100% - 16px));
        }
        @media ($media-small-vertical) {
            transform: translateX(calc(100% + 16px));
        }

        @at-root .is-open & {
            display: inline-block;
            transition: all 100ms linear 0ms;
        }

        @at-root .animation__show-modal__enter & {
            opacity: 0;
            transition: all 300ms $ease-out-quad 1000ms;
        }
        @at-root .animation__show-modal__enter.animation__show-modal__enter-active & {
            opacity: 1;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}

.nav {
    position: relative;
    z-index: 1;
    font-family: $font-calibre;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    @media ($media-medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $nav-height-small;
    }

    &__item,
    &__logo,
    &__hamburger {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $spacing-huge;
        color: $color-text-dark;
        font-weight: bold;
        text-decoration: none;

        @media ($media-medium) {
            position: static;
        }
    }

    &__item,
    &__logo,
    &__hamburger-checkbox {
        z-index: 1;
    }

    &__logo {
        top: $spacing-large;
        left: 50%;
        transform: translate(-50%, -3px); // abolition sits low in its line-height
        font-family: $font-abolition;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0.5px;
        color: $color-brand !important;
        text-decoration: none;
        text-transform: uppercase;

        @media ($media-medium) {
            top: initial;
            left: initial;
            transform: translate(0, -3px);
            height: 100%;
        }
    }

    &__hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 20px;
        width: 20px;
        height: 15px;

        @media ($media-medium) {
            display: flex;
        }

        &-line {
            display: inline-block;
            width: 100%;
            height: 3px;
            background-color: $color-text-dark;
            transition: all 100ms linear 0ms;

            &:nth-child(4),
            &:nth-child(5) {
                position: absolute;
                top: 6px;
                background-color: $color-text-light;
                opacity: 0;
            }
        }

        &-checkbox {
            display: none;
            position: absolute;
            left: 15px;
            width: 32px;
            height: 32px;
            opacity: 0;

            @media ($media-medium) {
                display: inline-block;
            }

            &:checked { z-index: 2; }
        }
    }

    &__menu {
        @media ($media-medium) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: $nav-height-small;
            padding-bottom: $spacing-huge;
            background: $color-background-dark;
        }
    }

    &__item {
        @media ($media-medium) {
            height: auto;
            color: $color-text-light;
            padding: $spacing-regular 0;

        }

        &--contact {
            top: $spacing-large;
            left: $spacing-mega;
        }
        &--about {
            top: $spacing-large;
            right: $spacing-mega;
        }
        &--instagram {
            bottom: $spacing-large;
            left: $spacing-mega;
        }
        &--blog {
            right: $spacing-mega;
            bottom: $spacing-large;
        }

        &--contact,
        &--about,
        &--instagram,
        &--blog {
            @media ($media-medium) {
                position: relative;
                top: initial;
                right: initial;
                bottom: initial;
                left: initial;
            }
        }

        span {
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: $spacing-small * -1;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 2px;
                background-color: $color-brand;
                transition: width 100ms ease-in-out 0ms;
            }
        }

        &:hover span::after,
        &--current span::after {
            width: 45px !important; 
        }
    }

    &__hamburger-checkbox:not(:checked) ~ &__menu {
        @media ($media-medium) {
            display: none;
        }
    }
    &__hamburger-checkbox:checked ~ &__menu {
        @media ($media-medium) {
            display: block;
        }
    }
    &__hamburger-checkbox:checked ~ &__hamburger {
        z-index: 1;

        .nav__hamburger-line {
            &:nth-child(1) { opacity: 0; transform: translateY(6px); }
            &:nth-child(2) { opacity: 0; }
            &:nth-child(3) { opacity: 0; transform: translateY(-6px); }
            &:nth-child(4) { opacity: 1; transform: rotate(45deg); }
            &:nth-child(5) { opacity: 1; transform: rotate(-45deg); }
        }
    }

    &--theme-light &__item {
        color: $color-text-light;
        font-weight: normal;
    }

    &--theme-light &__hamburger-line {
        background-color: $color-text-light;
    }

    &--theme-dark &__item,
    &--theme-dark &__hamburger-line {
        // default
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        color: $color-text-dark;
    }

    h3 {
        font-size: inherit;
        line-height: inherit;
    }

    h2, h3, p {
        margin: $spacing-small 0;
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;

    @media ($media-small) {
        padding: 0 $spacing-large;
    }

    .demo-button a {
        display: block;

        svg {
            display: block;
            width: 100%;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;

    @media ($media-medium) {
        padding: 0 $spacing-large;
    }

    p {
        font-size: 32px;
        line-height: 1.07;
        font-weight: bold;
        max-width: 45ch;
        margin: $spacing-small 0;

        @media ($media-small) {
            font-size: 24px;
            line-height: 1.08;
        }        
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    margin-top: $nav-height-large;

    @media ($media-medium) {
        padding: 0 $spacing-large;
        margin-top: $nav-height-small;
    }

    & > * + * {
        margin-top: $spacing-mega;

        @media ($media-medium) {
            margin-top: $spacing-large;
        }
    }

    &__hero {
        display: flex;
        align-items: center;
        width: 1280px;

        @media ($media-medium) {
            display: block;
            width: 100%;
        }

        & > * + * {
            margin-left: $spacing-mega;

            @media ($media-medium) {
                margin-top: $spacing-large;
                margin-left: 0;
            }
        }

        &-image {
            position: relative;
            flex: 0 0 auto;
            overflow: hidden;
            width: 620px;

            @media ($media-medium) {
                width: calc(100% + #{$spacing-large * 2});
                margin: 0 $spacing-large * -1;
            }

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        &-text {
            flex-basis: 34ch;

            h2 {
                font-size: 32px;
                line-height: 1.06;

                @media ($media-medium) {
                    font-size: 24px;
                    line-height: 1.08;
                }
            }
        }
    }

    &__body {
        display: flex;
        max-width: 688px;
        transform: translateX(22px); // adjusts to center between bottom nav items

        @media ($media-medium) {
            padding: 0 $spacing-regular;
            transform: none;
        }

        @media ($media-medium) {
            display: block;
            padding: 0;
            max-width: none;
        }

        & > * + * {
            margin-left: $spacing-large;

            @media ($media-medium) {
                margin-top: $spacing-huge;
                margin-left: 0;
            }
        }

        &-primary {
            flex: 1 1 auto;
        }
        
        &-secondary {
            flex: 0 0 144px;
        }

        &-group {
            & + & {
                margin-top: $spacing-huge;
            }
        }
    }

    &__footer {
        width: 100%;

        @media ($media-medium) {
            width: 140%;
        }

        img {
            display: block;
            width: 100%;
            height: auto;

            @media ($media-medium) {
                width: calc(100% + #{$spacing-large * 2});
                margin: 0 $spacing-large * -1;
            }
        }
    }
}

.trees {
    position: relative;
    height: 0;
    opacity: 0.5;

    .tree {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        fill: $color-brand;
    }

    &__contact-before {
        & > :nth-child(1) { width: 28px; transform: translate(-390px, -155px); }
        & > :nth-child(2) { width: 20px; transform: translate(-295px, -70px); }
        & > :nth-child(3) { width: 30px; transform: translate(110px, -100px); }
        & > :nth-child(4) { width: 30px; transform: translate(340px, -140px); }

        @media ($media-small) {
            & > :nth-child(1) { width: 30px; transform: translate(-120px, -70px); }
            & > :nth-child(2) { width: 16px; transform: translate(10px, -35px); }
            & > :nth-child(3) { width: 30px; transform: translate(100px, -70px); }
            & > :nth-child(4) { display: none; }
        }
    }
    &__contact-after {
        & > :nth-child(1) { width: 12px; transform: translate(-445px, -55px); }
        & > :nth-child(2) { width: 30px; transform: translate(-390px, 100px); }
        & > :nth-child(3) { width: 30px; transform: translate(-140px, 95px); }
        & > :nth-child(4) { width: 18px; transform: translate(190px, 50px); }
        & > :nth-child(5) { width: 28px; transform: translate(420px, 32px); }

        @media ($media-small) {
            & > :nth-child(1) { width: 28px; transform: translate(-120px, 70px); }
            & > :nth-child(2) { width: 30px; transform: translate(60px, 80px); }
            & > :nth-child(3) { display: none; }
            & > :nth-child(4) { display: none; }
            & > :nth-child(5) { display: none; }
        }
    }
    &__about-hero {
        & > :nth-child(1) { width: 20px; transform: translate(310px, -20px); }

        @media ($media-medium) {
            & > :nth-child(1) { width: 16px; transform: translate(0px, 0px); left: initial; right: 0; }
        }
    }
    &__about-body {
        & > :nth-child(1) { width: 30px; transform: translate(-80px, 50px); }
        & > :nth-child(2) { width: 30px; transform: translate(405px, -80px); }
        & > :nth-child(3) { width: 18px; transform: translate(770px, 50px); }

        @media ($media-medium) {
            & > :nth-child(1) { width: 30px; transform: translate(-20px, -50px); left: initial; right: 0; }
            & > :nth-child(2) { width: 16px; transform: translate(-20px, 185px); left: initial; right: 0; }
            & > :nth-child(3) { display: none; }
        }
    }
}
