// all variables are defined in /assets/css/style.css

@font-face {
    font-family: "abolition";
    src: url($base-url + "/assets/fonts/abolition.otf");
}

@font-face {
    font-family: "calibre";
    font-weight: normal;
    src: url($base-url + "/assets/fonts/calibre-regular.otf");
}

@font-face {
    font-family: "calibre";
    font-weight: bold;
    src: url($base-url + "/assets/fonts/calibre-semibold.otf");
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    //----
    background-color: #F9F9E2;
}



.aboutbg {
    // background-image is set in each page's Front Matter
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bgcolor {
    color: #133B60;
}





.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        font-size: 12px;
        opacity: 1;
        transition: opacity 300ms linear 0ms;
    }
    &.js-loaded::after {
        opacity: 0;
    }

    &__sizing {
        position: relative;
        // these get overwritten by JS
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.demo-button {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000000, 0.9);

    &.is-open {
        display: block;
    }

    // If you touch any of these transition timings, remember to update
    // the JS variables in /assets/js/main.js

    @at-root .animation__show-modal__enter#{&} {
        opacity: 0;
        transition: all 100ms linear 0ms;
    }
    @at-root .animation__show-modal__enter.animation__show-modal__enter-active#{&} {
        opacity: 1;
    }
    @at-root .animation__show-modal__exit#{&} {
        opacity: 1;
        transition: all 100ms linear 0ms;
    }
    @at-root .animation__show-modal__exit.animation__show-modal__exit-active#{&} {
        opacity: 0;
    }

    &__upper-bound {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 85%;
        height: 85%;

        @at-root .animation__show-modal__enter & {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.95);
            transition: all 300ms $ease-out-quad 300ms;
        }
        @at-root .animation__show-modal__enter.animation__show-modal__enter-active & {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
    }

    &__video-wrapper,
    iframe {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__close-btn {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(calc(100% + 16px));
        cursor: pointer;
        // -- these remove the <button> styles --
        background-color: transparent;
        color: #ffffff;
        padding: 0;
        border: none;
        margin: 0;
        // ---

        @at-root .is-open & {
            display: inline-block;
            transition: all 100ms linear 0ms;
        }

        @at-root .animation__show-modal__enter & {
            opacity: 0;
            transition: all 300ms $ease-out-quad 1000ms;
        }
        @at-root .animation__show-modal__enter.animation__show-modal__enter-active & {
            opacity: 1;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $spacing-huge;
    text-align: center;
    font-family: "abolition";
    margin-top: $spacing-large;

    &__logo {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0.5px;
        color: $color-brand;
        text-decoration: none;
        text-transform: uppercase;
        transform: translateY(-3px); // abolition sits low in its line-height
    }
}

.nav {
    font-family: "calibre";
    font-weight: normal;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $spacing-huge;
        position: fixed;
        color: $color-white;
        text-decoration: none;

        &--contact {
            top: $spacing-large;
            left: $spacing-mega;
        }
        &--about {
            top: $spacing-large;
            right: $spacing-mega;
        }
        &--instagram {
            bottom: $spacing-large;
            left: $spacing-mega;
        }
        &--blog {
            right: $spacing-mega;
            bottom: $spacing-large;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0px;
            height: 2px;
            background-color: $color-brand;
            transition: width 100ms ease-in-out 0ms;
        }

        &:hover::after,
        &--current::after {
            width: 45px; 
        }
    }
}

// ----
a {
    text-decoration: none;
    color: #ffffff;
}



/*typography*/

h2 {
    font-family: adobe-text-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    -webkit-font-smoothing: antialiased
}

h3 {
    font-family: adobe-text-pro, serif;
    font-size: 20px;
    margin:0 0 12px 0;
    -webkit-font-smoothing: antialiased;
    color:#133B60;
}

p {
    font-family: adobe-text-pro, serif;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    color:#133B60;
}


/*navigation*/

ul {
    list-style: none;
}

a {
    color:#133B60;
}


/*body positioning*/

.innercontent {
    height:100vh;
    padding-top: 15%;
    padding-bottom:100px;
    /*max-width: 856px;*/
    padding-right:20%;
    padding-left:20%;
    text-align:center;
    color:#ffffff;
}

.innercontentcontact {
    height:100vh;
    padding-top: 5%;
    padding-bottom:100px;
    padding-right:20%;
    padding-left:20%;
    text-align:center;
    color:#133B60;  
}

.morecontent {
    background-color: #F9F9E2;
    padding: 100px 0px;
}

.body1 {
    margin-bottom:60px;
    padding-right:25%;
    padding-left:25%;
    color:#ffffff;
    text-align:center;
}

.video-wrap .video iframe {
    width:100%;
    height:calc(100vw / 1.5625);
    min-height:100%;
    min-width:236.77%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
