---
# This file in this location (/assets/css/style.css)...
# with this Front Matter (the "---" sections at the top of certain files)...
# ... is how Jekyll knows where to put our compiled css
# The real Sass/SCSS/CSS is in the `_sass` folder.
---

$base-url: "{{ site.baseurl }}";

$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$font-abolition: 'abolition';
$font-calibre: 'calibre';

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color-brand: #dcae6d;
$color-text-light: #efefef;
$color-text-dark: #133b60;
$color-background-light: #f9f9e2;
$color-background-dark: #103a61;

$spacing-tiny: 4px;
$spacing-small: 8px;
$spacing-regular: 16px;
$spacing-large: 28px;
$spacing-huge: 32px;
$spacing-mega: 48px;

$media-medium: "max-width: 62em";
$media-small: "max-width: 40em";
$media-small-vertical: "max-height: 25em";

$nav-height-large: ($spacing-huge * 2) + $spacing-regular;
$nav-height-small: ($spacing-huge * 2) + $spacing-regular - $spacing-small;

@import "normalize";
@import "style";
