<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% if page.type == 'home' %}
      {% comment %}
        --> DATA-BG-VIDEO-ID = id of the background video
      {% endcomment %}
      <div class="bg-video" data-js="bg-video" data-bg-video-id="261644461">
        <div class="bg-video__sizing" data-bg-video-player-target></div>
      </div>
    {% endif %}

    {% include nav.html %}

    <main>
      {{ content }}
    </main>

    {% if page.type == 'home' %}
      {% include demo-modal.html %}
    {% endif %}

    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
