<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    {% if page.type == 'home' %}
      <!-- DATA-BG-VIDEO-ID = id of the background video -->
      <div class="bg-video" data-js="bg-video" data-bg-video-id="261644461">
        <div class="bg-video__sizing" data-bg-video-player-target></div>
      </div>
    {% elsif page.bg_image %}
      {% for file in site.static_files %}
        {% if file.name == page.bg_image %}
          <div class="aboutbg" style="background-image: url({{ file.path }});"></div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% include header.html %}

    {% include nav.html %}

    <main>
      {{ content }}
    </main>

    {% if page.type == 'home' %}
      {% include demo-modal.html %}
      <script src="https://player.vimeo.com/api/player.js"></script>
      <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% endif %}
  </body>
</html>
